STITCH_API_KEY=

# Google service account integration
GOOGLE_CLIENT_EMAIL=paunova-clinic-integration@paunova-skin-age-clinic.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPEGA_AQUI_LA_CLAVE_PRIVADA_ROTADA\n-----END PRIVATE KEY-----\n"
GOOGLE_SPREADSHEET_ID=1AbCdEfGhIJkLmNopQRstuVWXyz123456789
GOOGLE_CALENDAR_ID=519d1c4af56e9b63ce841e543afaa195172a0ecebb77cfb4d943f67cdca3b839@group.calendar.google.com
